---
permalink: /
layout: layouts/wide
title: Data.gov Home
tagline: The home of the U.S. Government's open data

---
<section class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <h1>{{tagline}}</h1>
      <p>Here you will find data, tools, and resources to conduct research, develop web and mobile applications, design data visualizations, and <a href="https://data.gov/about/">more</a>.</p>
      <p>For information regarding the Coronavirus/COVID-19, please visit <a href="https://www.coronavirus.gov/">Coronavirus.gov.</a></p>
    </div>
  </div>
</section>

<section class="usa-section updates">
  <div class="grid-container">
    <h2>Recent updates</h2>
    <a class="updates-link" href="updates">Browse all updates</a>

    {% for post in collections.post reversed limit: 3 %}
      {% include "update.html", post: post %}
    {% endfor %}

    <a class="updates-link" href="updates">Browse all updates</a>
  </div>
</section>
