---
pagination:
    data: metrics.orgList
    size: 1
    alias: org
permalink: "metrics/organization/{{org.name}}/index.html"
layout: layouts/default
eleventyComputed:
  title: "{{org.display_name}} Metrics"
---
<!-- Agency Specific Metrics  -->
<section class="usa-section metrics">
  <div class="grid-container">
    <h2 class="usa-heading">Organization Specific Metrics:</h2>
    <h3 class="usa-heading">{{org.display_name}}</h3>
    <h6 class="usa-heading">Report Date: {{ metrics.end_date}}</h6>
    <p class="text-italic mt-3">All data shown represents the calendar month which ends at the Report Date.
      Data updates at the beginning of each new month to show the calendar month past.</p>
    <a href="https://catalog.data.gov/report/metrics-dashboard/{{org.name}}">
      <button class="usa-button" type="button">View Harvest Source Data</button>
    </a>
    <div class="mt-5"></div>
    {% for block in metrics.orgs[org.name] %}
    {% assign cacheKey = block.meta.key %}
    <div class="grid-row grid-gap-lg {{cacheKey}}">
      <div class="grid-col-12">
        <h4>{{block.meta.title}}</h4>
        <p>{{block.meta.description}}</p>
        {%- if cacheKey == "MOST_VIEWED_DATASETS" -%}
          <table class="usa-table usa-table--borderless usa-table--stacked full-width">
        {%- else -%}
          <table class="usa-table usa-table--borderless usa-table--stacked"> 
        {%- endif -%}
          <caption>
            <a href="{{block.meta.reportLink}}">{% usa_icon 'file_download' %} Download Full Report -
              {{block.meta.title}}</a>
          </caption>
          <thead>
            <tr>
              {% for data in block.data[0] %}
              {% if block.meta.columnKeys contains data %}
              <th scope="col">
                {% if metrics.enums.OVERRIDES[cacheKey] and metrics.enums.OVERRIDES[cacheKey][data] %}
                {{metrics.enums.OVERRIDES[cacheKey][data]}}
                {% elsif metrics.enums[data] %}
                {{metrics.enums[data]}}
                {% else %}
                {{data}}
                {% endif %}
              </th>
              {%- endif -%}
              {% endfor %}
            </tr>
          </thead>
          {% for row in block.data offset:1 %}
          <tr>
            {% for column in row %}
            {%- if block.meta.columnKeys contains block.data[0][forloop.index0] -%}
            {%- if forloop.first -%}
            {%- if cacheKey == "MOST_VIEWED_DATASETS" -%}
            <td><a href="https://catalog.data.gov{{column}}">{{column}}</a></td>
            {%- else -%}
            <td><a href="{{column}}">{{column}}</a></td>
            {%- endif -%}

            {%- else -%}
            {%- if cacheKey == "MOST_DOWNLOADED_DATASETS" -%}
              {%- assign pageURL = 5 -%}
            {%- else -%}
              {%- assign pageURL = 4 -%}
            {%- endif -%}
            {%- if block.data[0][forloop.index0] == "pageTitle" -%}
              <td align="left">
              <a href="{{row[pageURL]}}" target="_blank">{{column | toLocaleString | replace: " - Catalog", ""}}</a>
            </td>
            {%- else -%}
            <td align="right">{{column | toLocaleString}}</td>
            {%- endif -%}
            {%- endif -%}
            {%- endif -%}
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
        <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>