---
pagination:
    data: metrics.orgList
    size: 1
    alias: org
permalink: "metrics/organization/{{org.name}}/index.html"
layout: layouts/default
---
<!-- Agency Specific Metrics  -->
<section class="usa-section dashboard">
    <div class="grid-container">
      <h2 class="usa-heading">Organization Specific Metrics:</h2>
      <h3 class="usa-heading">{{org.display_name}}</h3>
      <div class="mt-5"></div>
      {% for block in metrics.orgs[org.name] %}
      <div class="grid-row grid-gap-lg {{block.meta.key}}">
        <div class="grid-col-12">
          <h4>{{block.meta.title}}</h4>
          <p>{{block.meta.description}}</p>
          <table class="usa-table usa-table--borderless usa-table--stacked full-width">
            <caption>
              <a href="{{block.meta.reportLink}}">{% usa_icon 'file_download' %} Download Full Report - {{block.meta.title}}</a>
            </caption>
            <thead>
              <tr>
                {% for data in block.data[0] %}
                    {%- if forloop.first -%}
                        <th scope="col">{{data}}</th>
                    {%- elsif forloop.last -%}
                        <th scope="col">{{data}}</th>
                    {%- endif -%}
                {% endfor %}
              </tr>
            </thead>
            {% for row in block.data offset:1 %}
                <tr>
                    {% for column in row %}
                        {%- if forloop.first -%}
                            <td><a href="{{column}}">{{column}}</a></td>
                        {%- elsif forloop.last -%}
                            <td>{{column}}</td>
                        {%- endif -%}
                    {% endfor %}
                </tr>
            {% endfor %}
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>