<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://cloud.gov">
              {% image_with_class "./_img/logo.svg" "width-30 height-auto" "Agency logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="/open-gov/">Open Government</a></li>
            <li><a href="www.gsa.gov/reference/freedom-of-information-act-foia">FOIA</a></li>
            <li><a href="www.gsa.gov/website-information/website-policies#privacy">Privacy Policy</a></li>
            <li><a href="www.gsa.gov/website-information/website-policies#accessibility">Accessibility Policy</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="/about/">About Data.gov</a></li>
            <li><a href="https://twitter.com/usdatagov">Twitter</a></li>
            <li><a href="https://github.com/GSA/data.gov">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
