<footer class="usa-footer site-footer" role="contentinfo">
    <div class="footer-section-bottom bg-base-lighter">
        <div class="grid-container">
            <div class="grid-row padding-top-4">
                <div class="site-footer__logo">
                    <a href="https://data.gov">
                        <img
                            class="width-30 height-auto"
                            src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.png"
                            alt="Data.gov logo"
                        />
                    </a>
                </div>
            </div>
            <div class="grid-row padding-bottom-1">
                <div class="grid-col-auto site-footer__links-container">
                    <ul class="grid-row grid-gap site-footer__links--datagov">
                        <li><a href="{{ '/' | url }}about">About</a></li>
                        <li><a href="{{ '/' | url }}open-gov/">Open Government</a></li>
                        <li><a href="{{ '/' | url }}privacy-policy">Website Policies</a></li>
                        <li><a href="//www.performance.gov/">PERFORMANCE.GOV</a></li>
                    </ul>
                    <ul class="site-footer__links--social">
                        <li>
                            <a href="{{site.links.social.twitter}}">{% uswds_icon 'twitter' %}<span>Twitter</span></a>
                        </li>
                        <li>
                            <a href="{{site.links.social.github}}">{% uswds_icon 'github' %}<span>Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
