{% comment %}
  List all of the updates (blogs)
{% endcomment %}

{% for post in collections.post reversed %}
  <article class="update" style="display:block">
    <header>
      {% comment %} TODO add category and link to category? {% endcomment %}
      <div class="category category-header">Category</div>
      <h3 class="entry-title">{{ post.data.title }}</h3>
      <div class="entry-meta">
        <time datetime="{{ post.data.date_gmt }}">
          {{ post.data.date_gmt | date: "%B %e, %Y" }}
          {% if post.data.author %}
            {% comment %}
              TODO pull author information to display
            {% endcomment %}
            <em>By {{ post.data.author | join: "; " }}</em>
          {% endif %}
        </time>
      </div>
    </header>
    <div class="entry-summary">
      {{ post.data.excerpt }}
    </div>
  </article>
{% endfor %}
