{% comment %}
  List all of the updates (blogs)
{% endcomment %}

{% for post in collections.post reversed %}
  <article class="update" style="display:block">
    <header>
      {% comment %} TODO add category and link to category? {% endcomment %}
      <div class="category category-header">Category</div>
      <h3 class="entry-title">
        <a href="{{ post.data.permalink }}" class="usa-link">
          {{ post.data.title }}
        </a>
      </h3>
      <div class="entry-meta">
        <time datetime="{{ post.data.date_gmt }}">
          {{ post.data.date_gmt | date: "%B %e, %Y" }}
          {% if post.data.author %}
            {% comment %} blogposts currently only have one author per blog {% endcomment %}
            <em>By {{ authors[post.data.author].name }}</em>
          {% endif %}
        </time>
      </div>
    </header>
    <div class="entry-summary">
      <p>
        {{ post.data.excerpt }}
        <a href="{{ post.data.permalink }}" aria-describedby="{{ post.data.title }}" class="usa-link">Continued</a>
      </p>
    </div>
  </article>
{% endfor %}
