/*
  ******************
  ****** BASE ******
  ******************
*/

$s3_image_quick_navs_bg: 'https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/quick-navs-bg.jpg';
$s3_image_logo: 'https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.svg';
$s3_image_hero_image_bg: 'https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/hero-image-bg.svg';
$s3_image_about_us_card_bg: 'https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/about-us-card-bg.svg';

a {
    color: color('blue-warm-60v');
    &:hover::after {
        background-color: color('error') !important;
    }
}

h1,
h2,
h3,
h4 {
    .anchor-link {
        display: none;
    }
    &:hover .anchor-link {
        display: inline;
    }
}

html.datagov {
    .usa-menu-btn,
    .usa-button {
        @include button-color(color('secondary'))
    }
}

.datagov-icons {
    .usa-header & {
        max-width: 3em;
    }
}

/*
  ************************
  ****** COMPONENTS ******
  ************************
*/

.usa-header {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid color('base-lighter');
    z-index: 2;
    .usa-js-mobile-nav--active & {
        position: inherit;
    }
    .usa-logo a {
        background-image: url($s3_image_logo);
        background-repeat: no-repeat;
        height: 48px;
        width: 200px;
        display: block;
        background-size: cover;
    }
    .user-guide {
        &__col {
            padding: .5em 0 .5em 2em;
            border-left: 1px solid color('base-lighter');
            .datagov-icon {
                height: 3em;
                width: 3em;
            }
        }
        &__text {
            color: color('ink');
        }
    }
}

.banner {
    background-color: color('primary-vivid');
    color: white;
    a {
        color: white;
        text-decoration: underline;
    }
}

.hero {
    background-image: url($s3_image_hero_image_bg);
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: 375% 0;
    background-color: color('base-lightest');
    min-height: 25em;
    @include at-media('tablet') {
        background-size: 50% auto;
        background-position: 144% 0;
    }
    @include at-media('desktop') {
        background-size: 35% auto;
        background-position: 98%;
    }
    &__content {
        margin: 1em;
        @include at-media('tablet') {
            margin: 3em;
        }
        @include at-media('desktop') {
            margin: 3em 5em;
        }
    }
    &__copy {
        max-width: 30em;
    }
    &__dataset-count {
        margin-top: 1em;
    }
    &__search {
        margin: 1em 0;
    }
}

.catalog-filters {
    background-image: url($s3_image_quick_navs_bg);
    background-size: cover;
    a {
            color: color('ink');
        }
    .icon-container {
        @include drop-shadow;
        border: 1px solid color('base-lighter');
        background-color: #FCFCFB;
        margin: 1rem 0;
        padding: 1rem;

    }
}

.about {
    border-top: 1px solid color('gray-10');
}

.metrics {
    &__fetch-date.grid-row {
        justify-content: end;
        margin-top: 1rem;
        font-style: italic;
    }
    &__card {
        @include drop-shadow;
        padding: 1em 2em;
        border: 1px solid color('base-lighter');
        border-radius: 4px;
        background-color: white;
        &--image {
            @extend .metrics__card;
            background-image: url($s3_image_about_us_card_bg);
            background-size: 50% auto;
            background-repeat: no-repeat;
            background-position: right;
        }
        &--subhead {
            a {
                color: color('ink');
            }
        }
    }
}

.sibling-sites {
    border-top: 1px solid color('gray-10');
    .logo {
        padding: 2rem 0;
        @include at-media('tablet') {
            padding: 2rem;
        }
        img {
            max-height: 75px;
        }
    }
    ul {
        @include list-items(column);
        @include at-media('tablet') {
            padding-inline-start: 40px;
            &.quick-links--resources {
                height: 7rem;
            }
            &.quick-links--strategy {
                height: 4rem;
            }            
        }
    }
    @include at-media('desktop') {
        .grid-col-12:nth-child(2){
            @include border-span($color: 'gray-10');
        }

    }
}

.site-footer {
    border-top: 1px solid #e7e7e7;
    &__links-container {
        @include at-media('desktop') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%
        }
    }
    &__links {
        &--datagov {
            @include list-items(column);
            @include at-media('tablet') {
                @include list-items();
                margin-top: 1rem;
                & li:not(:first-child) {
                    @include border-span($left: -5px);
                }
            }
        }
        &--social {
            @include list-items();
            @include at-media('desktop') {
                margin-top: 1rem;
            }
            .usa-icon {
                width: 2em;
                height: 2em;
                margin-right: .5em;
            }
            & li:nth-child(2) {
                @include border-span();
                a {
                    padding-left: 1em;
                }
            }
        }
    }
}
