// mixins
@mixin buttonColor($bg, $color: 'white') {
    background-color: $bg;
    color: $color;
}

//helper clases
.text {
    &-center {
        text-align: center;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-color {
        &--red {
            color: color('secondary');
        }
    }
}

.desktop {
    &-show {
        display: none;
    }

    &-hide {
        display: inline;
        .usa-nav__primary & {
            display: list-item;
        }
    }
}

@media (min-width: 64em) {
    .desktop {
        &-show {
            display: inline;
        }

        &-hide {
            display: none;
            .usa-nav__primary & {
                    display: none;
                }
        }
    }
}
