// mixins
@mixin buttonColor($bg, $color: 'white') {
    background-color: $bg;
    color: $color;
}

//helper clases
.text {
    &-center {
        text-align: center;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-color {
        &-red {
            color: color('secondary');
        }
    }
}

.desktop {
    &-show {
        display: none;
        @include at-media('desktop') {
            display: inline;
        }
    }

    &-hide {
        display: inline;
        .usa-nav__primary & {
            display: list-item;
        }
        @include at-media('desktop') {
            display: none;
                .usa-nav__primary & {
                    display: none;
                }
        }
    }
}
