---
author: admin
categories:
- maritime
excerpt: |-
  Main Page for Maritimeupdates
link: https://www.data.gov/maritime/
layout: layouts/update-index
pagination:
  data: collections.maritime
  size: 10
  alias: posts
  reverse: true
permalink: "{{ url }}/maritime/{{ pagination.pageNumber | plus: 1 }}/index.html"
redirect_from:
- /maritime/
slug: maritime
title: Maritime
---

{% include "pagination-links.html" %}

Discover datasets for marine transportation, a critical part of our transportation system used for domestic and international trade, national security, research, and recreation. Explore data related to mapping and charting, energy use, commodity movement, international trade and finance, environmental sustainability, and more.

{%- for post in posts %}
  {% include "update.html", post: post %}
{%- endfor %}

{% include "pagination-links.html" %}
