---
date: '2009-10-01T17:15:15'
excerpt: Data.gov Metrics Dashboard
link: 'https://www.data.gov/dashboard'
permalink: dashboard/
layout: layouts/default
redirect_from:
- /metrics/
slug: dashboard
title: Datagov Dashboard
---

<!-- Metrics Tiles  -->
<!-- Global Metrics  -->
<section class="usa-section dashboard">
  <div class="grid-container">
    <h2 class="usa-heading">Global Metrics</h2>
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-12 desktop:grid-col-4">
        {% if metrics and metrics.global and metrics.global.stats %}
        {% assign block = metrics.global.stats %}
        <table class="table">
          <thead>
            <tr>
              {% for data in block.headers %}
              <th scope="col">{{data}}</th>
              {% endfor %}
            </tr>
          </thead>             
          {% for data in block.values %}
          <tr>
            <td>{{data.key}}</td>
            <td>{{data.value}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif%}
        <!-- Device Distribution -->
        {% if metrics and metrics.global and metrics.global.device_type %}
        {% assign block = metrics.global.device_type %}
        <h4>{{block.title}}</h4>
        <table class="table">
            <thead>
              <tr>
                {% for data in block.headers %}
                <th scope="col">{{data}}</th>
                {% endfor %}
              </tr>
            </thead>        
          {% for data in block.values %}
          <tr>
            <td>{{data.key}}</td>
            <td>{{data.value}}</td>
            <td>{{data.value | divided_by: block.total | times: 100 | truncate: 2, ''}}%</td>
          </tr>
          {% endfor %}

        </table>
        {% endif %}
      </div>

      <div class="grid-col-12 desktop:grid-col-8">
        <!-- Top Search Terms -->
        {% if dashboard and dashboard.metrics and dashboard.metrics.topSearchTermsMetric %}
        {% include "metrics_widgets/descending-bar-chart.html"
        name: 'topsearchterms'
        metric: dashboard.metrics.topSearchTermsMetric
        %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
<hr class="separator">
<!-- Metrics Tiles  -->
<!-- Agency Specific Metrics  -->
<section class="usa-section dashboard">
  <div class="grid-container">
    <h2 class="usa-heading">Organization Specific Metrics:</h2>
    <h3 class="usa-heading">NASA (National Aeronautics & Space Administration)</h3>
    <div class="grid-row grid-gap-lg mt-5">
      <div class="grid-col-12">
        <div class="">
          {% assign block = metrics.agencies.nasa.downloads %}
          <h4>{{block.title}}</h4>
          <table class="usa-table usa-table--borderless full-width">
            <caption>
              {{block.title}}
            </caption>
            <thead>
              <tr>
                {% for data in block.headers %}
                <th scope="col">{{data}}</th>
                {% endfor %}
              </tr>
            </thead>
            {% for data in block.values %}
            <tr>
              <td><a href="{{data.key}}">{{data.key}}</a></td>
              <td>{{data.value}}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
      </div>
    </div>
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-12">
        {% assign block = metrics.agencies.nasa.outbound_links %}
        <h4>{{block.title}}</h4>
        <table class="usa-table usa-table--borderless full-width">
          <caption>
            {{block.title}}
          </caption>
          <thead>
            <tr>
              {% for data in block.headers %}
              <th scope="col">{{data}}</th>
              {% endfor %}
            </tr>
          </thead>
          {% for data in block.values %}
          <tr>
            <td><a href="{{data.key}}">{{data.key}}</a></td>
            <td>{{data.value}}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
      </div>
    </div>
    <div class="grid-row grid-gap-lg">
      <div class="grid-col-12">
        {% assign block = metrics.agencies.nasa.dataset_pages %}
        <h4>{{block.title}}</h4>
        <table class="usa-table usa-table--borderless full-width">
          <caption>
            {{block.title}}
          </caption>
          <thead>
            <tr>
              {% for data in block.headers %}
              <th scope="col">{{data}}</th>
              {% endfor %}
            </tr>
          </thead>
          {% for data in block.values %}
          <tr>
            <td><a href="https://catalog.data.gov/{{data.key}}">{{data.key}}</a></td>
            <td>{{data.value}}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
      </div>
    </div>
  </div>
</section>

<!-- fetch dashboard data -->
<script async src="{{ assetPaths['fetch-dashboard.js'] }}"></script>