---
layout: legacy-category
slug: climate
subnav_menuitems:
  - name: Themes
    slug: themes
    children:
      - name: Arctic
        slug: arctic
        url: /climate/arctic/
      - name: Coastal Flooding
        slug: coastal-flooding
        url: /climate/coastalflooding/
      - name: Ecosystem Vulnerability
        slug: ecosystem-vulnerability
        url: /climate/ecosystem-vulnerability/
      - name: Energy Infrastructure
        slug: energy-infrastructure
        url: /climate/energy-infrastructure/
      - name: Food Resilience
        slug: food-resilience
        url: /climate/foodresilience/
      - name: Human Health
        slug: human-health
        url: /climate/humanhealth/
      - name: Transportation
        slug: transportation
        url: /climate/transportation/
      - name: Tribal Nations
        slug: tribal-nations
        url: /climate/tribal-nations/
      - name: Water
        slug: water
        url: /climate/water/
  - name: Data
    slug: data
    url: https://catalog.data.gov/dataset?groups=climate5434
    external: true
  - name: Resources
    slug: resources
    url: /climate/portals/
  - name: Challenges
    slug: challenges
    url: /climate/climate-challenges/
  - name: FAQ
    slug: faq
    url: /climate/faq/
---

{{ content }}
