---
layout: layouts/default
---

{% comment %}
  This layout is used for individual posts / updates.

  Default front matter is set in posts/posts.json. Individual
  front matter and overrides of default values are available
  in the front matter of specific posts in the posts directory.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        {% if tags[1] %}
        <a href="/{{ tags[1] }}" class="text-bold" rel="homepage">Back to {{tags[1]}}</a>
        {% else %}
        <a href="/" class="text-bold" rel="homepage">Back to Home</a>
        {% endif %}
        <h1 class="title">{{title}}</h1>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            {% if author %}
              By <span class="text-bold" rel="author">{{ authors[author].name }}</span> ·
            {% endif %}
            <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%B %d, %Y' }}</time>
          </div>
        </div>
        {{ content }}
      </div>
    </div>
  </div>
</div>
