---
layout: layouts/default
---

{% comment %}
  This layout is used for individual posts / updates.

  Default front matter is set in posts/posts.json. Individual
  front matter and overrides of default values are available
  in the front matter of specific posts in the posts directory.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{title}}</h1>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            {% if author %}
              By <span class="text-bold" rel="author">{{ authors[author].name }}</span> ·
            {% endif %}
            <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%B %d, %Y' }}</time>
          </div>
        </div>
        {{content}}

        {%- if sub-titles -%}
          <p>
          {%- for sub in sub-titles -%}
            <b> <a href="#{{sub}}">{{sub}}</a> | </b>
          {%- endfor -%}
          </p>
          {%- for sub in sub-titles -%}
            </ul>
            <div id ="{{sub}}">
              <h2 class="subject">{{sub}} <a href="#{{sub}}">#</a></h2>
            </div>
            <ul>
            {%- for summary in mainlinks -%}
              {%- for group in summary.group -%}
                {%- if group == sub -%}
                <p><li>
                  <a data-toggle="modal" data-target="#{{summary.link}}" href="#{{summary.link}}">
                    {{summary.title}}
                  </a> 
                  : {{summary.description}}
                </li></p>
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- else -%}
          {%- for summary in mainlinks -%}
            <p><li>
              <a data-toggle="modal" data-target="#{{summary.link}}" href="#{{summary.link}}">
                {{summary.title}}
              </a> 
              : {{summary.description}}
            </li></p>
          {%- endfor -%}
        {%- endif -%}

        {%- for summary in mainlinks -%}
        <!-- Modal -->
        <div class="modal fade" id="{{summary.link}}" tabindex="-1" role="dialog" aria-labelledby="{{summary.link}}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="{{summary.link}}">{{summary.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {%- if summary.sponsor -%}
                  <p><b>Sponsor:</b> {{summary.sponsor}}</p>
                {%- endif -%}
                {%- if summary.name -%}
                  <p><b>Name:</b> {{summary.name}}</p>
                {%- endif -%}
                {%- if summary.url -%}
                  <p><b>URL:</b> {{summary.url}}</p>
                {%- endif -%}
                {%- if summary.summary -%}
                  <p><b>Summary:</b> {{summary.summary}}</p>
                {%- endif -%}
                {%- if summary.howitworks -%}
                  <p><b>How it works:</b> {{summary.howitworks}}</p>
                {%- endif -%}
                {%- if summary.application -%}
                  <p><b>Application:</b> {{summary.application}}</p>
                {%- endif -%}
                {%- if summary.preview -%}
                  <p><b>Preview:</b></p>
                  <a href="{{summary.url}}"><img src="{{summary.preview}}" alt="{{summary.url}}"/></a>
                {%- endif -%}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
