---
layout: layouts/default
---

{% comment %}
  This layout is used for individual posts / updates.

  Default front matter is set in posts/posts.json. Individual
  front matter and overrides of default values are available
  in the front matter of specific posts in the posts directory.
{% endcomment %}
<!-- FOR MODAL FUNCTIONALITY - JavaScript Bundle with Popper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<!-- FOR MODAL FUNCTIONALITY - JavaScript Bundle with Popper -->

<!-- For Accessibility Checks -->
<style>
html > body > div > a { color: #0072ed }
#main-content > div > div > div > div > ul > button { background-color: #0072ed }
</style>
<!-- For Accessibility Checks -->

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{title}}</h1>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            {% if author %}
              By <span class="text-bold" rel="author">{{ authors[author].name }}</span> ·
            {% endif %}
            <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%B %d, %Y' }}</time>
          </div>
        </div>
        {{content}}
        <ul>
        {%- for summary in mainlinks -%}
          {%- if summary.group -%}
          </ul>
          <h2 class="subject">{{summary.group}}</h2>
          <ul>
          {%- endif -%}

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{summary.link}}">
            {{summary.title}}
          </button>
          <p>{{summary.description}}</p>
          <!-- Modal -->
          <div class="modal fade" id="{{summary.link}}" tabindex="-1" role="dialog" aria-labelledby="{{summary.link}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{summary.link}}">{{summary.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {%- if summary.sponsor -%}
                    <p><b>Sponsor:</b> {{summary.sponsor}}</p>
                  {%- endif -%}
                  {%- if summary.name -%}
                    <p><b>Name:</b> {{summary.name}}</p>
                  {%- endif -%}
                  {%- if summary.url -%}
                    <p><b>URL:</b> {{summary.url}}</p>
                  {%- endif -%}
                  {%- if summary.summary -%}
                    <p><b>Summary:</b> {{summary.summary}}</p>
                  {%- endif -%}
                  {%- if summary.howitworks -%}
                    <p><b>How it works:</b> {{summary.howitworks}}</p>
                  {%- endif -%}
                  {%- if summary.application -%}
                    <p><b>Application:</b> {{summary.application}}</p>
                  {%- endif -%}
                  {%- if summary.preview -%}
                    <p><b>Preview:</b></p>
                    <a href="{{summary.url}}"><img src="{{summary.preview}}" alt="{{summary.url}}"/></a>
                  {%- endif -%}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
