#main-content > section > div > div > div > div > div > a {
    background-color: #0072ed;
}

a {
    color: #0072ed;
}
#main-content > div > div > div > div > ul > button {
    color: #001731;
}
footer li > a {
    color: #0061c9;
}
#main-content > section > a {
    color: #0072ed;
}

img[alt='Logo'] {
    margin-left: 75px;
    width: 150px;
}
button {
    margin-top: 0px !important;
}

#touchpoints-form-1327b00b > div:nth-child(3) > header > div > div:nth-child(2) > p > a {
    background-color: #fff;
}
