@use "uswds-core" as * with (
    $theme-show-notifications: false,
    $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
    $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
    $theme-font-type-sans: "open-sans",
    $theme-hero-image: "../_img/hero.png"
);

@forward "uswds";

@import 'partials/overrides.scss';
@import 'partials/helpers.scss';
@import 'partials/datagovtheme';

//TODO RIP THIS OUT PRIOR TO MERGE
.fpo {
    color: red;
    height: 100%;
    padding: 3rem;
    border: 5px solid red;
    text-align: center;
    &::before {
        content: "FPO >>"
    }
}
