@use "uswds-core" as * with (
    $theme-show-notifications: false,
    $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
    $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
    $theme-font-type-sans: "open-sans",
    $theme-hero-image: "../_img/hero.png"
);

@forward "uswds";

@import 'partials/helpers.scss';
@import 'partials/overrides.scss';
@import 'partials/datagovtheme';
