/*
    Add USWDS overrides here
*/
.usa-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.usa-header {
    padding: 1rem 0;
    &--extended {
        .usa-logo {
            display: inline;
        }
        .usa-navbar {
            max-width: none;
        }
        .usa-nav__inner {
            margin-left: 0;
        }
        .usa-nav {
            border: none;
        }
    }
    .grid-container {
        max-width: none;
    }
    // .usa-menu-btn {
    //     float: right;
    //     margin-right: -1rem;
    // }
}

.usa-banner {
    &__inner {
        padding-left: 2rem;
    }
}

@media (min-width: 640px) {
    .usa-banner {
        &__inner {
            max-width: none;
            padding-left: 4rem;
        }
    }
}
