name: Content scan

on:
  - pull_request

jobs:
  build:
    name: Content scan
    runs-on: ubuntu-latest
    env:
      LANG: en_US.UTF-8
      LANGUAGE: en_US
      LC_ALL: en_US.UTF-8

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install node.js.
        uses: actions/setup-node@v6
        with:
            node-version-file: 'package.json'

      - name: Install NPM dependencies
        shell: bash
        run: npm install

      - name: Build eleventy and run pa11y-ci
        run: npm run pa11y-ci:gh

      - name: Build eleventy and run cypress
        run: npm run cypress:gh

      - name: cypress-artifacs
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-artifacts
          path: |
            ./cypress/screenshots/
            ./cypress/videos/
